body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

/* Navegador */
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    position: fixed;
    top: 0;
    width: 100%;
}

.li {
    font-weight: bold;
    float: left;
    padding: 5px;
}

#inicioSesion {
    float: right;
}

.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 100px;
}

.li a:hover:not(.active) {
    background-color: antiquewhite;
    color: #111;
}

.active {
    background-color: antiquewhite;
    color: #111;
}

.logoImg {
    height: 45px;
    width: 150px;
    border-radius: 100px
}

/* Contenedor */
.contenedor {
    padding: 2%;
    padding-top: 5%;
}
