body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

/* Navegador */
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    position: fixed;
    top: 0;
    width: 100%;
}

.li {
    font-weight: bold;
    float: left;
    padding: 5px;
}

#inicioSesion {
    float: right;
}

.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 100px;
}

.li a:hover:not(.active) {
    background-color: antiquewhite;
    color: #111;
}

.active {
    background-color: antiquewhite;
    color: #111;
}

.logoImg {
    height: 45px;
    width: 150px;
    border-radius: 100px
}

/* Contenedor */
.contenedor {
    padding: 2%;
    padding-top: 5%;
}

/* Banners */
.banner,
.slideshow-container {
    border: 1px solid black;
}

.banner,
.bannerInicial,
.bannerFavoritos,
.bannerReseñas {
    align-content: center;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

/* Carrusel */
.slideshow-container {
    max-width: 100%;
    border: 1px solid black;
    padding: 20px;
}

.mySlides {
    display: none;
    width: 100%;
}

.imgSlides {
    width: 100%;
    height: 420px;
}

.text,
.numbertext {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Puntos/círculos */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.activeDot,
.dot:hover {
    background-color: #717171;
}


/* Favoritos */
.Favoritos {
    border: 1px solid black;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: center;
    border-radius: 100px;
    margin: 10px;
    background-color: lightblue;
}

.grid-item1 {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    border-radius: 100px;
    margin: 10px;
    grid-column: 1 / span 3;
    grid-row: 1;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    background-color: antiquewhite;
}

.button,
.button1 {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: white;
    -webkit-text-stroke: 1px black;
}

.button:hover,
.grid-item:hover {
    background-color: antiquewhite;
}